{# it's probably a terrible idea to render JSON by hand... #}
{
    "section": "{{ section.section }}",
    "filename": "{{ section.filename }}",
    "description": "{{ section.description }}",
    "modifiers": [
        {% for modifier in section.modifiers %}
            ["{{ modifier.name }}","{{ modifier.description }}"]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    "example_html": "{{ example_html|escapejs }}",
    "modifier_examples": [
        {% for example in modifier_examples %}
            ["{{ example.modifier.name }}","{{ example.html|escapejs }}"]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    "escaped_html": "{{ escaped_html|escapejs }}"
}
